<div class="detail-container">
  <span class="glyphicon glyphicon-remove"></span>
  <div class="input-group">
    <div class="input-group-addon">Name</div>
    <div class="data-field"><%= contact.name %></div>
  </div>

  <div class="input-group">
    <div class="input-group-addon">@</div>
    <div class="data-field"><%= contact.email %></div>
  </div>

  <div class="input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></div>
    <div class="data-field"><%= contact.phone %></div>
  </div>

  <div class="input-group">
    <div class="input-group-addon">Birthday</div>
    <div class="data-field"><%= contact.birthday || "No birthday entered" %></div>
  </div>

  <div class="input-group">
    <div class="input-group-addon">Notes</div>
    <div class="data-field"><%= contact.notes %></div>
  </div>

  <div class="input-group">
    <%= link_to "Edit", edit_contact_path(contact), remote: true, class: 'btn btn-primary' %>
  </div>
</div>
 
