<div class="detail-container">
  <span class="glyphicon glyphicon-remove"></span>
  <div class="input-group">
    <span class="input-group-addon">Name</span>
    <%= contact.name %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">@</span>
    <%= contact.email %>
  </div>

  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></span>
    <%= contact.phone %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Birthday</span>
    <%= contact.birthday || "No birthday entered" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Notes</span>
    <%= contact.notes %>
  </div>

  <div class="input-group">
    <%= link_to "Edit", edit_contact_path(contact), remote: true, class: 'btn btn-primary' %>
  </div>
</div>
 
