<div class="input-group">
  <span class="input-group-addon"><%= f.label :name  %></span>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="input-group">
  <span class="input-group-addon">@</span>
  <%= f.text_field :email, :class => "form-control" %>
</div>

<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></span>
  <%= f.telephone_field :phone, :class => "form-control", placeholder: "###-###-####" %>
</div>

<div class="input-group">
  <span class="input-group-addon"><%= f.label :birthday %></span>
  <%= f.text_field :birthday, class: "form-control datepicker" %>
</div>

<div class="input-group">
  <%= f.submit :class => 'btn btn-primary' %>
</div>
