<table class="table">
  <tr>
    <th><span><%= sortable "name", "Name" %></span></th>
    <th><span><%= sortable "email", "E-mail" %></span></th>
    <th><span><%= sortable "phone", "Phone" %></span></th>
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name  %></td>
      <td><%= mail_to contact.email, contact.email %></td>
      <td><%= contact.phone %></td>
    </tr>
  <% end %>
</table>
